<!-- call to action -->
<mj-table class="body-table body-table-lower body-table-lower-cta {{#unless _d.hasExtensiveUI}}body-table-last{{/unless}}">
	<tr class="body-tr body-tr-lower body-tr-lower-cta {{#unless _d.hasExtensiveUI}}body-tr-last{{/unless}}">
		<td class="body-td body-td-lower body-td-empty">&nbsp;</td>
		<td class="body-td body-td-lower body-td-content">
			\{{#unless hideCTA}}
				{{> button}}
			\{{/unless}}
			{{> prefooter}}
		</td>
		<td class="body-td body-td-lower body-td-empty">&nbsp;</td>
	</tr>
</mj-table>
