<!-- actual content -->
          <mj-table class="body-table body-table-lower">
            <tr class="body-tr">
              <td class="body-td body-td-lower body-td-empty">&nbsp;</td>
              <td class="body-td body-td-lower body-td-content">
                {{> content}}
              </td>
              <td class="body-td body-td-lower body-td-empty">&nbsp;</td>
            </tr>
          </mj-table>
