<!--<BUTTON>-->
{{#if label}}
<center class="cta-container">
    <div class="cta-container-exterior">
        <div class="cta-block get-cta-block-size">
            <table class="get-cta-block-size cta-block-table" align="center" cellpadding="0" cellspacing="0">
                <tbody>
                    <tr>
                        <td class="cta-button" align="center">
                            <a class="cta-link-a border-less" href="\{{ctaHref}}" title="Button">
                                <strong class="cta-link-label">{{label}}</strong>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</center>
{{/if}}
<!--</BUTTON>-->
